<h2 mat-dialog-title>{{ 'feed.add' | translate }}</h2>
<mat-dialog-content>
  <form [formGroup]="addFeedForm" (ngSubmit)="addFeed(addFeedForm.value)">
    <!-- Feed title -->
    <mat-form-field class="full-width">
      <mat-label>Feed title</mat-label>
      <input matInput type="text" formControlName="feedTitle" required />
    </mat-form-field>
    <!-- Datasources -->
    <datasource-selector class="full-width" (selected)="onDatasourceSelected($event)"></datasource-selector>
    <button mat-raised-button color="primary">Add</button>
  </form>
</mat-dialog-content>
