<h1>{{ 'feed.list' | translate }}</h1>
<div class="actions">
  <button mat-raised-button color="primary" (click)="addFeed()">{{ 'feed.add' | translate }}</button>
  <button mat-raised-button [disabled]="feedsToBeRemoved.length === 0" (click)="remove()">
    {{ 'feed.delete' | translate }}
  </button>
</div>
<table mat-table [dataSource]="feeds" class="mat-elevation-z8 full-width">
  <!-- Actions -->
  <ng-container matColumnDef="checkbox">
    <th mat-header-cell *matHeaderCellDef>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox (change)="deleteFeed(element)"></mat-checkbox>
    </td>
  </ng-container>
  <!-- Feed title -->
  <ng-container matColumnDef="feedTitle">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-label>{{ 'feed.title' | translate }}</mat-label>
        <input matInput type="text" [(ngModel)]="feedTitle" (ngModelChange)="refresh()" />
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.feedTitle}}</td>
  </ng-container>
  <!-- Datasource title -->
  <ng-container matColumnDef="datasourceTitle">
    <th mat-header-cell *matHeaderCellDef>
      <datasource-selector (selected)="onDatasourceSelected($event)"></datasource-selector>
    </th>
    <td mat-cell *matCellDef="let element">{{element.datasourceTitle}}</td>
  </ng-container>
  <!-- Number of followers -->
  <ng-container matColumnDef="nbFollowers">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-label>Followers</mat-label>
        <mat-select [(ngModel)]="selectedFollower" (ngModelChange)="refresh()">
          <mat-option value="0">{{ 'feed.moreThan1000Followers' | translate }}</mat-option>
          <mat-option value="1">{{ 'feed.moreThan100AndLessThan1000Followers' | translate }}</mat-option>
          <mat-option value="2">{{ 'feed.lessThan100Followers' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.nbFollowers}}</td>
  </ng-container>
  <!-- Number of stories per month -->
  <ng-container matColumnDef="nbStoriesPerMonth">
    <th mat-header-cell *matHeaderCellDef>
      <mat-form-field>
        <mat-label>Stories</mat-label>
        <mat-select [(ngModel)]="selectedStory" (ngModelChange)="refresh()">
          <mat-option value="0">{{ 'feed.moreThan1000Stories' | translate }}</mat-option>
          <mat-option value="1">{{ 'feed.moreThan100AndLessThan1000Stories' | translate }}</mat-option>
          <mat-option value="2">{{ 'feed.lessThan100Stories' | translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </th>
    <td mat-cell *matCellDef="let element">{{element.nbStoriesPerMonth}}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-card *ngIf="isLoading" class="loading">
  <mat-progress-spinner color="primary"mode="indeterminate"></mat-progress-spinner>
</mat-card>
