<h1>{{ 'hangfire.list' | translate }}</h1>
<div class="actions">
  <button mat-raised-button (click)="launchArticlesExtraction()">{{ 'hangfire.launchArticlesExtraction' | translate }}</button>
  <button mat-raised-button (click)="launchRecommendationExtraction()">{{ 'hangfire.launchRecommendationExtraction' | translate }}</button>
</div>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="jobs" class="full-width">
    <!-- Identifier -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hangfire.job' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <a href="#" [routerLink]="['/hangfire/' + element.id]">{{element.id}}</a>
      </td>
    </ng-container>
    <!-- State name -->
    <ng-container matColumnDef="stateName">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hangfire.state' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip>{{element.stateName}}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>
    <!-- CreatedAt -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hangfire.createdAt' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">{{element.createdAt | date:'medium'}}</td>
    </ng-container>
    <!-- CreatedAt -->
    <ng-container matColumnDef="invocationData">
      <th mat-header-cell *matHeaderCellDef>
        {{ 'hangfire.invocationData' | translate }}
      </th>
      <td mat-cell *matCellDef="let element">
        <p class="invocationData">{{element.invocationData }}</p>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="length" [pageSize]="5" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
