<div fxLayout="column" fxLayoutGap="5px">
  <div *ngFor="let article of articles" class="article">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ article.title }}</mat-card-title>
        <mat-card-subtitle>{{ article.feedTitle }}, {{ 'article.publicationDate' | translate : { date : article.publishDate | date } }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ article.summary }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>
          <mat-icon>visibility</mat-icon>
          {{ 'article.actions.read' | translate }}
        </button>
        <button mat-button (click)="likeOrUnlike(article)">
          <mat-icon *ngIf="article.likeActionDateTime">thumb_up</mat-icon>
          <mat-icon *ngIf="!article.likeActionDateTime">thumb_up_off_alt</mat-icon>
          {{ 'article.actions.like' | translate }}
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
