<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" #drawer opened>
    <div *ngIf="isConnected" class="nav-link" [class.active]="router.isActive('/hangfire', false)">
      <a href="#" class="title" [routerLink]="['/hangfire']">{{ 'hangfire.list' | translate }}</a>
    </div>
    <div *ngIf="isConnected" class="nav-link" [class.active]="router.isActive('/recommendations', true)">
      <a href="#" class="title" [routerLink]="['/recommendations']">{{ 'recommendation.list' | translate }}</a>
    </div>
    <div *ngIf="isConnected" class="nav-link" [class.active]="router.isActive('/feeds', true)">
      <a href="#" class="title" [routerLink]="['/feeds']">{{ 'feed.list' | translate }}</a>
    </div>
    <div class="feed-item" *ngFor="let grp of groupedFeeds" [class.open]="router.isActive('/feeds/' + grp.id, false)">
      <div class="link nav-link" [class.active]="router.isActive('/feeds/' + grp.id, true)">
        <div class="icon">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <a href="#" [routerLink]="['/feeds/' + grp.id]" class="title">{{grp.title}}</a>
        <span class="indicator">
          <button mat-icon-button class="small-icon-button" [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteFeed(grp.id)">{{ 'delete' | translate }}</button>
          </mat-menu>
          {{ grp.nbStoriesPerMonth }}
        </span>
      </div>
      <div *ngFor="let datasource of grp.datasources" class="datasources nav-link" [class.active]="router.isActive('/feeds/' + grp.id + '/datasources/' + datasource.id, true)">
        <a href="#" [routerLink]="['/feeds/' + grp.id + '/datasources/' + datasource.id ]">{{ datasource.title }}</a>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content #content>
    <mat-toolbar>
      <mat-toolbar-row>
        <a href="#" [routerLink]="['/home']">News Aggregator</a>
        <div class="spacer"></div>
        <a href="#" *ngIf="!isConnected" (click)="login($event)" mat-button>{{ 'menu.authenticate' | translate }}</a>
        <a href="#" *ngIf="isConnected" (click)="disconnect($event)" mat-button>{{ 'menu.disconnect' | translate }}</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
