<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" opened>
    <div class="nav-link">
      <a href="#">{{ 'feed.list' | translate }}</a>
    </div>
    <div class="feed-item" *ngFor="let grp of groupedFeeds" [class.open]="grp.isOpened">
      <div class="link nav-link">
        <div class="icon" (click)="switchOpen(grp)">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <span class="title">{{grp.title}}</span>
        <span class="indicator">{{ grp.nbStoriesPerMonth }}</span>
      </div>
      <div *ngFor="let datasource of grp.datasources" class="datasources nav-link">
        {{ datasource.title }}
      </div>
    </div>
  </mat-drawer>
  <div>
    <mat-toolbar>
      <mat-toolbar-row>
        <span>News Aggregator</span>
        <div class="spacer"></div>
        <a href="#" *ngIf="!isConnected" (click)="login($event)" mat-button>Authenticate</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
