<mat-drawer-container class="drawer-container">
  <mat-drawer mode="side" #drawer opened>
    <div class="nav-link">
      <a href="#" class="title" [routerLink]="['/feeds']">{{ 'feed.list' | translate }}</a>
    </div>
    <div class="feed-item" *ngFor="let grp of groupedFeeds" [class.open]="grp.isOpened">
      <div class="link nav-link">
        <div class="icon" (click)="switchOpen(grp)">
          <mat-icon>arrow_forward_ios</mat-icon>
        </div>
        <a href="#" [routerLink]="['/feeds/' + grp.id]" class="title">{{grp.title}}</a>
        <span class="indicator">{{ grp.nbStoriesPerMonth }}</span>
      </div>
      <div *ngFor="let datasource of grp.datasources" class="datasources nav-link">
        {{ datasource.title }}
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content #content>
    <mat-toolbar>
      <mat-toolbar-row>
        <a href="#" [routerLink]="['/home']">News Aggregator</a>
        <div class="spacer"></div>
        <a href="#" *ngIf="!isConnected" (click)="login($event)" mat-button>{{ 'menu.authenticate' | translate }}</a>
        <a href="#" *ngIf="isConnected" (click)="disconnect($event)" mat-button>{{ 'menu.disconnect' | translate }}</a>
      </mat-toolbar-row>
    </mat-toolbar>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
